.calendario{
    background-color: white;
}
body{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.Enero
{
    background-color: yellow;
}
.Febrero
{
    background-color: greenyellow;
}
.Marzo
{
    background-color: burlywood;
}
.Abril
{
    background-color: orange;
}
.Mayo
{
    background-color: salmon;
}
.Junio
{
    background-color: rosybrown;
}
.Julio
{
    background-color: thistle;
}
.Agosto
{
    background-color: silver;
}
.Septiembre
{
    background-color: skyblue;
}
.Octubre
{
    background-color: hotpink;
}
.Noviembre
{
    background-color: brown;
}
.Diciembre
{
    background-color: lightgreen;
}